extends ../layout

block content
  script(type='text/javascript', src='/javascripts/pdf.js')
  .container
    - if(notice)
      .alert.alert-success=notice
    h2=slide.title
    .form-group
      button.btn.btn-default#prev(onclick='goPrevious()') Previous
      button.btn.btn-default#next(onclick='goNext()') Next
      &nbsp; &nbsp;
      | Page:
      span#page_num
      | /
      span#page_count
    canvas#slide_canvas 
    form.form-horizontal(action='/slides/create', method='post', enctype='multipart/form-data')
      .form-group
        label.control-label.col-md-3.col-lg-3(for='description') Description
        .col-md-9.col-lg-9
          p.form-control-static=slide.description
      .form-group
        label.control-label.col-md-3.col-lg-3(for='author') Author
        .col-md-9.col-lg-9
          p.form-control-static=author.name
  script
    var url = "/uploads/#{slide.file_url}";
    PDFJS.disableWorker = true;
    var pdfDoc = null,
        pageNum = 1,
        scale = 1.0,
        canvas = document.getElementById('slide_canvas'),
        ctx = canvas.getContext('2d');
    function renderPage(num) {
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;
        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        page.render(renderContext);
      });
      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
      document.getElementById('page_count').textContent = pdfDoc.numPages;
    }
    function goPrevious() {
      if (pageNum <= 1)
        return;
      pageNum--;
      renderPage(pageNum);
    }
    function goNext() {
      if (pageNum >= pdfDoc.numPages)
        return;
      pageNum++;
      renderPage(pageNum);
    }
    PDFJS.getDocument(url).then(function getPdfHelloWorld(_pdfDoc) {
      pdfDoc = _pdfDoc;
      renderPage(pageNum);
    });